{% extends "base.html" %} {% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{object.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{post.created_at}}</div>
                    <!-- Post categories-->
                    {% for tag in post.tags.all %}
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{tag.name}}</a>{% endfor %}
                    <p><small>조회수 : {{post.view_count}}</small></p>
                </header>
                <!-- 이미지-->
                {% if post.thumb_image %}
                <figure class="mb-4"><small><img class="img-fluid rounded" src="{{post.thumb_image.url}}" alt="..." /></figure></small> {% endif %} {% if post.file_upload %}
                    <figure class="mb-4"><video src="{{post.file_upload.url}}" controls></video></figure> {% endif %}
                    <!-- 내용-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{object.content}}</p>
                    </section>
            </article>

            <!-- 댓글 section-->
            <section class="mb-5">
                <!-- 댓글 form-->
                <form id="commentForm" action="{% url 'blog:comment_new' post.pk %}" method="post">
                    {% csrf_token %} {{ comment_form.media }} {{ comment_form.as_p }}
                    <input type="submit" value="댓글 작성" style="background-color: #007BFF; color: white; padding: 5px 10px; border: none; border-radius: 5px;">
                </form>
                {% for comment in post.comments.all %}
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="d-flex mb-4">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">{{comment.user}}</div><span class="small">- {{comment.created_at}}</span> {% if user == comment.user %}<br>
                                <a href="{% url 'blog:comment_edit' post.pk comment.pk %}">수정</a>
                                <div id="deleteButton-{{ comment.pk }}">
                                    <a href="{% url 'blog:comment_delete' post.pk comment.pk %}">삭제</a>
                                </div>{% endif %}
                                <p class="small mb-0">
                                    {{comment.message}}
                                </p>
                                {% if user.is_authenticated %}
                                <!-- 대댓글 버튼 Reply -->
                                <button onclick="toggleButtons(this, '{{ comment.pk }}')" style="background-color: #007BFF; color: white; padding: 5px 10px; border: none; border-radius: 5px;">Reply</button>
                                <form id="replyForm-{{ comment.pk }}" style="display: none;" action="{% url 'blog:comment_reply' post.pk comment.pk %}" method="post">
                                    {% csrf_token %} {{ reply_form.as_p }}
                                    <button type="submit" class="btn btn-outline-primary btn-sm " style="background-color: #007BFF; color: white; padding: 5px 10px; border: none; border-radius: 5px;">(대댓글)작성</button>
                                    <button type="" class="btn btn-outline-primary btn-sm" style="background-color: #007BFF; color: white; padding: 5px 10px; border: none; border-radius: 5px;">취소</button>
                                </form>
                                {% endif %}

                                <!-- 대댓글-->
                                {% for reply in comment.replies.all %}
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{reply.user}}</div>
                                        <p class="text-muted small mb-0">{{reply.created_at}}</p> {{reply.message}} {% if user == reply.user %}<br>
                                        <a href="{% url 'blog:reply_edit' post.pk comment.pk reply.pk %}"><i class="fas fa-reply fa-xs"></i><span class="small">수정</span></a>
                                        <a href="{% url 'blog:reply_delete' post.pk comment.pk reply.pk %}"><i class="fas fa-reply fa-xs" ></i><span class="small">삭제</span></a> {%endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>

            <a href="{% url 'blog:post_list' %}" style="background-color: #007BFF; color: white; padding: 5px 10px; border: none; border-radius: 5px;">목록</a> {% if user == post.user %}
            <a href="{% url 'blog:post_edit' post.pk %}" style="background-color: #007BFF; color: white; padding: 5px 10px; border: none; border-radius: 5px;">수정</a>
            <a href="{% url 'blog:post_delete' post.pk %}" style="background-color: #007BFF; color: white; padding: 5px 10px; border: none; border-radius: 5px;">삭제</a> {% endif %}

            <script>
                function toggleButtons(button, commentId) {
                    let parentDiv = button.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode;
                    let replyForm = parentDiv.querySelector('#replyForm-' + commentId);

                    if (replyForm.style.display === 'none') {
                        replyForm.style.display = 'block';
                    } else {
                        replyForm.style.display = 'none';
                    }
                }
            </script>
            {% endblock %}