{% extends "base.html" %} {% load i18n %} {% block content %}
<h1 class="text-center">{% trans "Post List" %}</h1>
<!-- 검색 기능 추가 -->

<div class="input-group mb-4">
    <form action="" method="GET">
        <input class="form-control" type="text" name="q" value="{{ request.GET.q }}" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
        <input class="btn btn-primary" id="button-search" type="submit" value="검색">
    </form>
</div>
<div class="mb-4">
    <a href="{% url 'blog:post_new' %}" style="background-color: #007BFF; color: white; padding: 5px 10px; border: none; border-radius: 5px;">{% trans "업로드" %}</a>
</div>

<table class="table table-hover table-bordered mb-4">
    <thead>
        <tr class="text-center">
            <th>{% trans "제목" %}</th>
            <th>{% trans "작성자" %}</th>
            <th>{% trans "날짜" %}</th>
            <th>{% trans "조회수" %}</th>
        </tr>
    </thead>
    <tbody class="text-center">
        {% for post in post_list %}
        <tr>
            <td>{{ post.get_language_display }} <a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</td>
            <td><small>{{ post.user }}</small></td>
            <td><small>{{ post.created_at }}</small></td>
            <td><small>{{post.view_count}}</small></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Empty</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}